.banner{
  position: relative;
  height: 600px;
  background: url(../img/bg-banner-sobre-pb2.jpg) no-repeat;
	background-size: cover;
  margin-top: -4rem;
  cursor: pointer;
  .banner-sombreamento{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(250,185,0, 0.4);
  }
  .titulo-banner{
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 6rem;
    text-align: center;
    padding-top: 30rem;
  }
}
